.estilo-card {
    border: 1px solid black;
    border-radius: 10px; 
    padding: 10px;
    margin: 10px;
}


.estilo-card.vertical.grande {
    height: 450px;
    width: 300px;
  }
  
.estilo-card.vertical.chico {
    height: 300px;
    width: 150px;
}
  
.estilo-card.horizontal.grande {
    height: 350px;
    width: 650px;
}

.estilo-card.horizontal.chico {
    height: 200px;
    width: 350px;
}